/* .product_details {
  padding: 25px;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: 50px 120px;
  text-align: left;
  float: left;
  border-style: solid;
  border-radius: 5px;
  background-color: rgb(29, 32, 34);
  opacity: 5;
  height: 500px;
  width: 90%;
  padding: 10px;
  text-align: center;
} */
